<div class="login">
  <div class="container sm:px-10 mt-10">
    <div class="block xl:grid grid-cols-2 gap-4">
      <div class="hidden xl:flex flex-col min-h-screen">
        <a href="" class="-intro-x flex items-center pt-5">
        </a>
        <div class="my-auto">
          <img alt="Midone Tailwind HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="assets/dist/images/illustration.svg">
          <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10">
            Encore une etape pour
            <br>
            créer votre compte.
          </div>
          <div class="-intro-x mt-5 text-lg text-white dark:text-gray-500">Gerer tous votre compte en une seule place</div>
        </div>
      </div>
      <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
        <div class="my-auto mx-auto xl:ml-20 bg-white xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
          <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
            Créer votre compte
          </h2>
          <div class="intro-x mt-2 text-gray-500 xl:hidden text-center"> Encore une etape pour vous connectez. Gerer tous votre compte en une seule place</div>
          <form #registerForm="ngForm"  >
            <div class="intro-x mt-8">
              <input type="text" class="intro-x login__input input input--lg border border-gray-300 block mt-4" [(ngModel)]="registerUserModel.lastname"  name="lastname" id="lastname" placeholder="Nom">
              <input type="text" class="intro-x login__input input input--lg border border-gray-300 block mt-4" [(ngModel)]="registerUserModel.firstname" name="firstname"  id="firstname"  placeholder="prenom">
              <input type="email" class="intro-x login__input input input--lg border border-gray-300 block mt-4" [(ngModel)]="registerUserModel.email"  name="email" id="email"  placeholder="Email">
              <input type="tel" class="intro-x login__input input input--lg border border-gray-300 block mt-4" [(ngModel)]="registerUserModel.phone" name="phone" id="phone" placeholder="tel">
              <input type="password" class="intro-x login__input input input--lg border border-gray-300 block mt-4" [(ngModel)]="registerUserModel.password" name="password" id="password" placeholder="Password">
              <input type="password" class="intro-x login__input input input--lg border border-gray-300 block mt-4" placeholder="Confirme Password">
            </div>
            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
              <button type="submit" (click)="register()"  class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3 align-top">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
